<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>web_31</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
  </welcome-file-list>
  
  <servlet>
<!--   내가 등록할 이름 -->
  	<servlet-name>startupProcessor</servlet-name>
<!--   	내가 서블릿으로 만들 서블릿 -->
  	<servlet-class>etc.StartupProcessor</servlet-class>
<!--   	서버가 만들어질때 서블릿 만들기 = 1 -->
	<load-on-startup>1</load-on-startup>
  </servlet>
  
<!--  servlet-mapping 이 없어도됨 -> 사용자가 사용하는게 아니라 내가 사용하는것 -->
</web-app>